 a.btn-primary {
  background-color: #2ea0a7;
  border-color: #2ea0a7;
  color: white !important;
}

button.btn.btn-primary {
  background-color: #2ea0a7;
  border-color: #2ea0a7;
  color: white !important;
}

a.btn-secondary {
  background-color: #115571;
  border-color: #115571;
}

button.btn.btn-secondary {
  background-color: #115571;
  border-color: #115571;
  color: white !important;
}

#orderButton {
  margin-bottom: 20px;
}

