 a.btn-primary {
  background-color: #2ea0a7;
  border-color: #2ea0a7;
  color: white !important;
}

button.btn.btn-primary {
  background-color: #2ea0a7;
  border-color: #2ea0a7;
  color: white !important;
}

a.btn-secondary {
  background-color: #115571;
  border-color: #115571;
}

button.btn.btn-secondary {
  background-color: #115571;
  border-color: #115571;
  color: white !important;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-datatable .ui-datatable-data td {
  vertical-align : center
}



